.idea/
env/
.envrc
venv/
.venv/
env3*/
Pipfile
*.lock
!uv.lock
*.py[cod]
*.egg-info/
/build/
dist/
.cache/
.mypy_cache/
test.py
.coverage
.hypothesis
/htmlcov/
/site/
/site.zip
.pytest_cache/
.python-version
.vscode/
_build/
.auto-format
/sandbox/
/.ghtopdep_cache/
/worktrees/
/.ruff_cache/
